<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<connectionStrings>
		<add name="Conexion"
			 connectionString="Data Source=.;Initial Catalog=BDNido;User ID=sa;Password=123456;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" maxRequestLength="2097151" executionTimeout="3600" />
	</system.web>

	<system.serviceModel>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<basicHttpBinding>
				<binding name="BindingArchivos"
						 maxReceivedMessageSize="2147483647"
						 sendTimeout="00:10:00"
						 receiveTimeout="00:10:00">
					<readerQuotas
						maxDepth="64"
						maxStringContentLength="2147483647"
						maxArrayLength="2147483647"
						maxBytesPerRead="2147483647"
						maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
		</bindings>

		<services>
			<service name="WcfNido.Service1">
				<endpoint
				  address=""
				  binding="basicHttpBinding"
				  bindingConfiguration="BindingArchivos"
				  contract="WcfNido.IService1" />
			</service>
		</services>

		<protocolMapping>
			<add binding="basicHttpBinding" scheme="http" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />

		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="4294967295" />
			</requestFiltering>
		</security>
	</system.webServer>

</configuration>
